@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
  background: black;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  gap: 5px;
}
.legend {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  color: white;
  border: 2px solid whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  padding: 0.5em;
}
.Confusion {
  position: relative;
  background: #fb0014;
  width: 16px;
  height: 16px;
}
.confusion-box {
  display: flex;
  gap: 4px;
}
.Appreciation {
  position: relative;
  background: #00ff00;
  width: 16px;
  height: 16px;
}
.appreciation-box {
  display: flex;
  gap: 4px;
}
/* Progress bar and years container*/
.container {
  margin: 15px auto;
  width: 400px;
  position: relative;
}
.progress2 {
  border-radius: 2px;
  background-color: #fff;
}
.progress-bar2 {
  height: 20px;
  border-radius: 2px;
  transition: 0.8s linear;
  transition-property: width, background-color;
}
.progress-moved .progress-bar2 {
  background-color: #f3233f;
  animation: progress 10s infinite;
}
@keyframes progress {
  0% {
    width: 0%;
    background: #f3233f;
  }

  90% {
    background: #f3233f;
    box-shadow: 0 0 5px #f32323;
  }

  100% {
    width: 100%;
    background: #00ff00;
    box-shadow: 0 0 5px #23f323;
  }
}
.yearOne {
  --p: 0;
  animation: p 5s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 20px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: -0.02em;
}
.yearTwo {
  --p: 0;
  animation: p 5s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 20px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: -0.02em;
  right: 0%;
}
