@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;
  background: black;
}
.legend {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  line-height: 1em;
  letter-spacing: -0.001em;
  color: aliceblue;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  border: 2px solid whitesmoke;
  text-align: center;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Confusion {
  position: relative;
  background: #fb0014;
  width: 16px;
  height: 16px;
}
.Appreciation {
  position: relative;
  background: #00ff00;
  width: 16px;
  height: 16px;
}
.container {
  margin: 15px auto;
  width: 400px;
  position: relative;
}
.progress2 {
  border-radius: 2px;
  background-color: #fff;
}
.progress-bar2 {
  height: 20px;
  border-radius: 2px;
  transition: 0.8s linear;
  transition-property: width, background-color;
}
.progress-moved .progress-bar2 {
  background-color: #f3233f;
  animation: progress 10s infinite;
}
@keyframes progress {
  0% {
    width: 0%;
    background: #f3233f;
  }

  80% {
    background: #f3233f;
    box-shadow: 0 0 5px #f32323;
  }

  100% {
    width: 100%;
    background: #00ff00;
    box-shadow: 0 0 5px #23f323;
  }
}
.loader {
  --p: 0;
  animation: p 5s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 20px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: -0.02em;
}
.loaderTwo {
  --p: 0;
  animation: p 5s steps(100) infinite;
  counter-reset: p var(--p);
  position: absolute;
  bottom: 20px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: -0.02em;
  right: 0%;
}
.loader:after {
  content: attr(data-year);
}

@keyframes p {
  0% {
    --p: var(--f);
  }

  100% {
    --p: var(--n);
  }
}
